/*@import "../Content/app.scss";*/
#applicableGrid {
  /*.k-numerictextbox{
            width:70px;
            padding-right:5px;
        }*/ }
  #applicableGrid table {
    table-layout: fixed; }
  #applicableGrid .row-checkbox {
    align-content: center; }
  #applicableGrid .k-grid-header tr {
    height: 45px; }
  #applicableGrid .k-grid-header th.k-header {
    font-size: 14px;
    border: none;
    padding-left: 15px;
    vertical-align: middle;
    text-align: left; }
    #applicableGrid .k-grid-header th.k-header > a.k-link {
      margin: 0;
      padding: 0;
      white-space: normal;
      display: inline;
      word-break: break-word; }
      #applicableGrid .k-grid-header th.k-header > a.k-link > .k-icon {
        float: right; }
      #applicableGrid .k-grid-header th.k-header > a.k-link > .k-icon.k-i-arrow-s, #applicableGrid .k-grid-header th.k-header > a.k-link > .k-icon.k-i-arrow-n {
        background-image: none !important;
        height: 18px;
        margin-top: -5px; }
      #applicableGrid .k-grid-header th.k-header > a.k-link > .k-icon.k-i-arrow-s::after {
        content: "\e252";
        font-family: 'Glyphicons Halflings';
        float: right;
        font-size: 14px;
        color: #ffffff; }
      #applicableGrid .k-grid-header th.k-header > a.k-link > .k-icon.k-i-arrow-n::after {
        content: "\e253";
        font-family: 'Glyphicons Halflings';
        float: right;
        font-size: 14px;
        color: #015f85; }
      #applicableGrid .k-grid-header th.k-header > a.k-link .k-i-sort-asc-sm:before {
        content: "\e253";
        font-family: 'Glyphicons Halflings';
        float: right;
        font-size: 14px;
        color: #015f85; }
      #applicableGrid .k-grid-header th.k-header > a.k-link .k-i-sort-desc-sm:before {
        content: "\e252";
        font-family: 'Glyphicons Halflings';
        float: right;
        font-size: 14px;
        color: #ffffff; }
  #applicableGrid .k-grid-header th.k-header[data-role="columnsorter"]:not([aria-sort])::after {
    float: right;
    content: '';
    background: url(../Images/grid_sort.png) no-repeat 0 0;
    height: 20px;
    width: 20px;
    background-position: center right; }
  #applicableGrid .k-grid-header tr.k-filter-row {
    height: 60px; }
    #applicableGrid .k-grid-header tr.k-filter-row th {
      border-color: #ffffff;
      padding-left: 15px; }
    #applicableGrid .k-grid-header tr.k-filter-row > th:first-child {
      border-left: 1px solid #c2c2c2; }
    #applicableGrid .k-grid-header tr.k-filter-row > th:last-child {
      border-right: 1px solid #c2c2c2; }
    #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell {
      /*> span {                    
                        padding-right: 0px;

                        > .k-autocomplete {
                            width: 65%;
                        }

                        > .k-dropdown-operator {
                            left: 68%;
                        }

                        > .k-button {
                            margin: 0;
                            left: 87%;

                            > .k-icon.k-i-close {
                                margin-top: 3px;
                            }
                        }
                    }*/ }
      #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell .k-button {
        height: 100%; }
      #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell > span {
        padding: 0px;
        margin-left: -10px; }
        #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell > span > .k-autocomplete {
          width: 65%; }
        #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell > span .k-dropdown-operator {
          left: 67%; }
        #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell > span > .k-button {
          margin: 0;
          left: 85%; }
          #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell > span > .k-button > .k-icon.k-i-close {
            margin-top: -3px; }
      #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell .k-icon.k-filter {
        background-image: none !important;
        width: 0; }
      #applicableGrid .k-grid-header tr.k-filter-row .k-filtercell .k-i-filter:before {
        content: "\e138";
        font-family: 'Glyphicons Halflings';
        font-size: 14px; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="TaskID"] .k-autocomplete, #applicableGrid .k-grid-header tr.k-filter-row [data-field="StatusName"] .k-autocomplete {
      width: 52% !important; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="TaskID"] .k-numerictextbox, #applicableGrid .k-grid-header tr.k-filter-row [data-field="StatusName"] .k-numerictextbox {
      width: 52% !important; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="TaskID"] .k-dropdown-operator, #applicableGrid .k-grid-header tr.k-filter-row [data-field="StatusName"] .k-dropdown-operator {
      left: 54% !important; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="TaskID"] .k-button, #applicableGrid .k-grid-header tr.k-filter-row [data-field="StatusName"] .k-button {
      margin: 0;
      left: 80% !important; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="TracerName"] .k-autocomplete {
      width: 75% !important; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="TracerName"] .k-dropdown-operator {
      left: 77% !important; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="TracerName"] .k-button {
      margin: 0;
      left: 90% !important; }
    #applicableGrid .k-grid-header tr.k-filter-row [data-field="DueDate"] .k-datepicker {
      width: 65% !important; }
  #applicableGrid .k-checkbox-label {
    margin-left: 1px !important;
    margin-top: 1px; }
  #applicableGrid .k-grid-content {
    width: inherit;
    border: 1px solid #c2c2c2;
    border-width: 0 1px 0 1px; }
    #applicableGrid .k-grid-content tr {
      background-color: #ffffff; }
      #applicableGrid .k-grid-content tr td {
        border-color: #dae8f2;
        padding-left: 15px;
        color: #000000;
        font-size: 14px;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 1.1;
        vertical-align: top; }
      #applicableGrid .k-grid-content tr > td:last-child {
        vertical-align: middle; }
    #applicableGrid .k-grid-content tr.k-alt {
      background-color: #ebebeb; }
    #applicableGrid .k-grid-content .edit-btn {
      padding-left: 0px; }
    #applicableGrid .k-grid-content .preview-btn:hover {
      text-decoration: none; }
    #applicableGrid .k-grid-content tr:hover {
      background-color: #e9f2f9; }
  #applicableGrid .k-pager-wrap {
    color: #a6a6a6;
    border-color: #ccc;
    background-color: #f5f5f5;
    clear: both;
    overflow: hidden;
    position: relative;
    border-style: solid;
    line-height: 1.9em;
    padding: .333em 0 .333em .25em; }
  #applicableGrid .k-grid-pager {
    border-width: 1px; }
  #applicableGrid .k-pager-numbers {
    margin: 0; }
  #applicableGrid .k-pager-nav.k-pager-first {
    border-radius: 4px 0 0 4px; }
  #applicableGrid .k-pager-wrap .k-link {
    background: #fff;
    border-color: #ccc;
    border-right: none;
    border-radius: 0; }
  #applicableGrid .k-pager-nav.k-pager-last {
    border-right: inherit; }
  #applicableGrid .k-pager-wrap > .k-link {
    line-height: 2.3em;
    border-width: 1px;
    text-align: center; }
  #applicableGrid .k-state-disabled {
    opacity: .7; }
  #applicableGrid .k-pager-refresh.k-link {
    border-width: 0;
    background: none; }
  #applicableGrid .k-pager-nav {
    margin: 0;
    font-size: 12px; }
    #applicableGrid .k-pager-nav .k-pager-first {
      border-radius: 4px 0 0 4px; }
    #applicableGrid .k-pager-nav .k-pager-last {
      border-radius: 0 4px 4px 0;
      border-right-width: 1px; }
  #applicableGrid .k-grid-pager {
    border-color: #c2c2c2;
    color: #000000;
    font-size: 12px;
    padding-left: 15px;
    background-color: #ffffff;
    line-height: 2.2em; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      #applicableGrid .k-grid-pager {
        overflow: visible;
        height: 32px; }
        #applicableGrid .k-grid-pager .k-pager-numbers {
          position: static; }
          #applicableGrid .k-grid-pager .k-pager-numbers .k-state-selected {
            color: #ffffff;
            background-color: #428bca; }
          #applicableGrid .k-grid-pager .k-pager-numbers > li:not(:first-child) > .k-link {
            border-color: transparent; }
          #applicableGrid .k-grid-pager .k-pager-numbers > li:not(:first-child) > .k-link:hover {
            background-color: #ebebeb;
            color: #333333; }
        #applicableGrid .k-grid-pager .k-pager-numbers.k-state-expanded {
          border-width: 1px 1px 0 1px;
          border-color: #cccccc;
          background-color: #f5f5f5;
          box-shadow: none; } }
  #applicableGrid .k-pager-wrap {
    min-height: 2.2em; }
  #applicableGrid .k-pager-numbers .k-current-page .k-link {
    width: 3.8em;
    padding: 0 .429em 0 0.8em;
    background-position: 50% 50%;
    border: 1px solid #cccccc; }
  #applicableGrid .k-pager-numbers .k-current-page .k-link::after {
    background-image: url(../Images/UpArrrow.png); }
